/* ESTILOS ESPECÍFICOS PARA RESERVACIONES.HTML */

@media (min-width: 768px) {
  #reservaForm h5 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
